apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gateway-helm
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://github.com/Daonguyen2401/MLPlatform.git
    targetRevision: HEAD
    path: gateway-helm
    helm:
      releaseName: gateway-helm
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: envoy-gateway-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
